{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://appsync.amazonaws.com/"
        },
        {
            "url": "http://appsync.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "AWS AppSync provides API actions for creating and interacting with data sources using GraphQL from your application.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS AppSync",
        "version": "2017-07-25",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/appsync-2017-07-25.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "appsync"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/appsync/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/v1/apis": {
            "get": {
                "description": "Lists your GraphQL APIs.",
                "operationId": "ListGraphqlApis",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "graphqlApis": {
                                            "description": "The <code>GraphqlApi</code> objects.",
                                            "items": {
                                                "description": "Describes a GraphQL API.",
                                                "properties": {
                                                    "apiId": {
                                                        "description": "The API ID.",
                                                        "type": "string"
                                                    },
                                                    "arn": {
                                                        "description": "The ARN.",
                                                        "type": "string"
                                                    },
                                                    "authenticationType": {
                                                        "description": "The authentication type.",
                                                        "enum": [
                                                            "API_KEY",
                                                            "AWS_IAM",
                                                            "AMAZON_COGNITO_USER_POOLS",
                                                            "OPENID_CONNECT"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "logConfig": {
                                                        "description": "The Amazon CloudWatch Logs configuration.",
                                                        "properties": {
                                                            "cloudWatchLogsRoleArn": {
                                                                "description": "The service role that AWS AppSync will assume to publish to Amazon CloudWatch logs in your account. ",
                                                                "type": "string"
                                                            },
                                                            "fieldLogLevel": {
                                                                "description": "<p>The field logging level. Values can be NONE, ERROR, or ALL. </p> <ul> <li> <p> <b>NONE</b>: No field-level logs are captured.</p> </li> <li> <p> <b>ERROR</b>: Logs the following information only for the fields that are in error:</p> <ul> <li> <p>The error section in the server response.</p> </li> <li> <p>Field-level errors.</p> </li> <li> <p>The generated request/response functions that got resolved for error fields.</p> </li> </ul> </li> <li> <p> <b>ALL</b>: The following information is logged for all fields in the query:</p> <ul> <li> <p>Field-level tracing information.</p> </li> <li> <p>The generated request/response functions that got resolved for each field.</p> </li> </ul> </li> </ul>",
                                                                "enum": [
                                                                    "NONE",
                                                                    "ERROR",
                                                                    "ALL"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "fieldLogLevel",
                                                            "cloudWatchLogsRoleArn"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "The API name.",
                                                        "pattern": "[_A-Za-z][_0-9A-Za-z]*",
                                                        "type": "string"
                                                    },
                                                    "openIDConnectConfig": {
                                                        "description": "The OpenID Connect configuration.",
                                                        "properties": {
                                                            "authTTL": {
                                                                "description": "The number of milliseconds a token is valid after being authenticated.",
                                                                "type": "integer"
                                                            },
                                                            "clientId": {
                                                                "description": "The client identifier of the Relying party at the OpenID identity provider. This identifier is typically obtained when the Relying party is registered with the OpenID identity provider. You can specify a regular expression so the AWS AppSync can validate against multiple client identifiers at a time.",
                                                                "type": "string"
                                                            },
                                                            "iatTTL": {
                                                                "description": "The number of milliseconds a token is valid after being issued to a user.",
                                                                "type": "integer"
                                                            },
                                                            "issuer": {
                                                                "description": "The issuer for the OpenID Connect configuration. The issuer returned by discovery must exactly match the value of <code>iss</code> in the ID token.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "issuer"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "uris": {
                                                        "description": "The URIs.",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "userPoolConfig": {
                                                        "description": "The Amazon Cognito user pool configuration.",
                                                        "properties": {
                                                            "appIdClientRegex": {
                                                                "description": "A regular expression for validating the incoming Amazon Cognito user pool app client ID.",
                                                                "type": "string"
                                                            },
                                                            "awsRegion": {
                                                                "description": "The AWS Region in which the user pool was created.",
                                                                "type": "string"
                                                            },
                                                            "defaultAction": {
                                                                "description": "The action that you want your GraphQL API to take when a request that uses Amazon Cognito user pool authentication doesn't match the Amazon Cognito user pool configuration.",
                                                                "enum": [
                                                                    "ALLOW",
                                                                    "DENY"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "userPoolId": {
                                                                "description": "The user pool ID.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "userPoolId",
                                                            "awsRegion",
                                                            "defaultAction"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "An identifier to be passed in the next request to this operation to return the next set of items in the list.",
                                            "pattern": "[\\\\S]+",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a <code>GraphqlApi</code> object.",
                "operationId": "CreateGraphqlApi",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "graphqlApi": {
                                            "description": "The <code>GraphqlApi</code>.",
                                            "properties": {
                                                "apiId": {
                                                    "description": "The API ID.",
                                                    "type": "string"
                                                },
                                                "arn": {
                                                    "description": "The ARN.",
                                                    "type": "string"
                                                },
                                                "authenticationType": {
                                                    "description": "The authentication type.",
                                                    "enum": [
                                                        "API_KEY",
                                                        "AWS_IAM",
                                                        "AMAZON_COGNITO_USER_POOLS",
                                                        "OPENID_CONNECT"
                                                    ],
                                                    "type": "string"
                                                },
                                                "logConfig": {
                                                    "description": "The Amazon CloudWatch Logs configuration.",
                                                    "properties": {
                                                        "cloudWatchLogsRoleArn": {
                                                            "description": "The service role that AWS AppSync will assume to publish to Amazon CloudWatch logs in your account. ",
                                                            "type": "string"
                                                        },
                                                        "fieldLogLevel": {
                                                            "description": "<p>The field logging level. Values can be NONE, ERROR, or ALL. </p> <ul> <li> <p> <b>NONE</b>: No field-level logs are captured.</p> </li> <li> <p> <b>ERROR</b>: Logs the following information only for the fields that are in error:</p> <ul> <li> <p>The error section in the server response.</p> </li> <li> <p>Field-level errors.</p> </li> <li> <p>The generated request/response functions that got resolved for error fields.</p> </li> </ul> </li> <li> <p> <b>ALL</b>: The following information is logged for all fields in the query:</p> <ul> <li> <p>Field-level tracing information.</p> </li> <li> <p>The generated request/response functions that got resolved for each field.</p> </li> </ul> </li> </ul>",
                                                            "enum": [
                                                                "NONE",
                                                                "ERROR",
                                                                "ALL"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "fieldLogLevel",
                                                        "cloudWatchLogsRoleArn"
                                                    ],
                                                    "type": "object"
                                                },
                                                "name": {
                                                    "description": "The API name.",
                                                    "pattern": "[_A-Za-z][_0-9A-Za-z]*",
                                                    "type": "string"
                                                },
                                                "openIDConnectConfig": {
                                                    "description": "The OpenID Connect configuration.",
                                                    "properties": {
                                                        "authTTL": {
                                                            "description": "The number of milliseconds a token is valid after being authenticated.",
                                                            "type": "integer"
                                                        },
                                                        "clientId": {
                                                            "description": "The client identifier of the Relying party at the OpenID identity provider. This identifier is typically obtained when the Relying party is registered with the OpenID identity provider. You can specify a regular expression so the AWS AppSync can validate against multiple client identifiers at a time.",
                                                            "type": "string"
                                                        },
                                                        "iatTTL": {
                                                            "description": "The number of milliseconds a token is valid after being issued to a user.",
                                                            "type": "integer"
                                                        },
                                                        "issuer": {
                                                            "description": "The issuer for the OpenID Connect configuration. The issuer returned by discovery must exactly match the value of <code>iss</code> in the ID token.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "issuer"
                                                    ],
                                                    "type": "object"
                                                },
                                                "uris": {
                                                    "description": "The URIs.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "userPoolConfig": {
                                                    "description": "The Amazon Cognito user pool configuration.",
                                                    "properties": {
                                                        "appIdClientRegex": {
                                                            "description": "A regular expression for validating the incoming Amazon Cognito user pool app client ID.",
                                                            "type": "string"
                                                        },
                                                        "awsRegion": {
                                                            "description": "The AWS Region in which the user pool was created.",
                                                            "type": "string"
                                                        },
                                                        "defaultAction": {
                                                            "description": "The action that you want your GraphQL API to take when a request that uses Amazon Cognito user pool authentication doesn't match the Amazon Cognito user pool configuration.",
                                                            "enum": [
                                                                "ALLOW",
                                                                "DENY"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "userPoolId": {
                                                            "description": "The user pool ID.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "userPoolId",
                                                        "awsRegion",
                                                        "defaultAction"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ApiLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "authenticationType": {
                                        "description": "The authentication type: API key, AWS IAM, or Amazon Cognito user pools.",
                                        "enum": [
                                            "API_KEY",
                                            "AWS_IAM",
                                            "AMAZON_COGNITO_USER_POOLS",
                                            "OPENID_CONNECT"
                                        ],
                                        "type": "string"
                                    },
                                    "logConfig": {
                                        "description": "The Amazon CloudWatch Logs configuration.",
                                        "properties": {
                                            "cloudWatchLogsRoleArn": {
                                                "description": "The service role that AWS AppSync will assume to publish to Amazon CloudWatch logs in your account. ",
                                                "type": "string"
                                            },
                                            "fieldLogLevel": {
                                                "description": "<p>The field logging level. Values can be NONE, ERROR, or ALL. </p> <ul> <li> <p> <b>NONE</b>: No field-level logs are captured.</p> </li> <li> <p> <b>ERROR</b>: Logs the following information only for the fields that are in error:</p> <ul> <li> <p>The error section in the server response.</p> </li> <li> <p>Field-level errors.</p> </li> <li> <p>The generated request/response functions that got resolved for error fields.</p> </li> </ul> </li> <li> <p> <b>ALL</b>: The following information is logged for all fields in the query:</p> <ul> <li> <p>Field-level tracing information.</p> </li> <li> <p>The generated request/response functions that got resolved for each field.</p> </li> </ul> </li> </ul>",
                                                "enum": [
                                                    "NONE",
                                                    "ERROR",
                                                    "ALL"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "fieldLogLevel",
                                            "cloudWatchLogsRoleArn"
                                        ],
                                        "type": "object"
                                    },
                                    "name": {
                                        "description": "A user-supplied name for the <code>GraphqlApi</code>.",
                                        "type": "string"
                                    },
                                    "openIDConnectConfig": {
                                        "description": "The OpenID Connect configuration.",
                                        "properties": {
                                            "authTTL": {
                                                "description": "The number of milliseconds a token is valid after being authenticated.",
                                                "type": "integer"
                                            },
                                            "clientId": {
                                                "description": "The client identifier of the Relying party at the OpenID identity provider. This identifier is typically obtained when the Relying party is registered with the OpenID identity provider. You can specify a regular expression so the AWS AppSync can validate against multiple client identifiers at a time.",
                                                "type": "string"
                                            },
                                            "iatTTL": {
                                                "description": "The number of milliseconds a token is valid after being issued to a user.",
                                                "type": "integer"
                                            },
                                            "issuer": {
                                                "description": "The issuer for the OpenID Connect configuration. The issuer returned by discovery must exactly match the value of <code>iss</code> in the ID token.",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "issuer"
                                        ],
                                        "type": "object"
                                    },
                                    "userPoolConfig": {
                                        "description": "The Amazon Cognito user pool configuration.",
                                        "properties": {
                                            "appIdClientRegex": {
                                                "description": "A regular expression for validating the incoming Amazon Cognito user pool app client ID.",
                                                "type": "string"
                                            },
                                            "awsRegion": {
                                                "description": "The AWS Region in which the user pool was created.",
                                                "type": "string"
                                            },
                                            "defaultAction": {
                                                "description": "The action that you want your GraphQL API to take when a request that uses Amazon Cognito user pool authentication doesn't match the Amazon Cognito user pool configuration.",
                                                "enum": [
                                                    "ALLOW",
                                                    "DENY"
                                                ],
                                                "type": "string"
                                            },
                                            "userPoolId": {
                                                "description": "The user pool ID.",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "userPoolId",
                                            "awsRegion",
                                            "defaultAction"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "name",
                                    "authenticationType"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/apis/{apiId}": {
            "delete": {
                "description": "Deletes a <code>GraphqlApi</code> object.",
                "operationId": "DeleteGraphqlApi",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Retrieves a <code>GraphqlApi</code> object.",
                "operationId": "GetGraphqlApi",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "graphqlApi": {
                                            "description": "The <code>GraphqlApi</code> object.",
                                            "properties": {
                                                "apiId": {
                                                    "description": "The API ID.",
                                                    "type": "string"
                                                },
                                                "arn": {
                                                    "description": "The ARN.",
                                                    "type": "string"
                                                },
                                                "authenticationType": {
                                                    "description": "The authentication type.",
                                                    "enum": [
                                                        "API_KEY",
                                                        "AWS_IAM",
                                                        "AMAZON_COGNITO_USER_POOLS",
                                                        "OPENID_CONNECT"
                                                    ],
                                                    "type": "string"
                                                },
                                                "logConfig": {
                                                    "description": "The Amazon CloudWatch Logs configuration.",
                                                    "properties": {
                                                        "cloudWatchLogsRoleArn": {
                                                            "description": "The service role that AWS AppSync will assume to publish to Amazon CloudWatch logs in your account. ",
                                                            "type": "string"
                                                        },
                                                        "fieldLogLevel": {
                                                            "description": "<p>The field logging level. Values can be NONE, ERROR, or ALL. </p> <ul> <li> <p> <b>NONE</b>: No field-level logs are captured.</p> </li> <li> <p> <b>ERROR</b>: Logs the following information only for the fields that are in error:</p> <ul> <li> <p>The error section in the server response.</p> </li> <li> <p>Field-level errors.</p> </li> <li> <p>The generated request/response functions that got resolved for error fields.</p> </li> </ul> </li> <li> <p> <b>ALL</b>: The following information is logged for all fields in the query:</p> <ul> <li> <p>Field-level tracing information.</p> </li> <li> <p>The generated request/response functions that got resolved for each field.</p> </li> </ul> </li> </ul>",
                                                            "enum": [
                                                                "NONE",
                                                                "ERROR",
                                                                "ALL"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "fieldLogLevel",
                                                        "cloudWatchLogsRoleArn"
                                                    ],
                                                    "type": "object"
                                                },
                                                "name": {
                                                    "description": "The API name.",
                                                    "pattern": "[_A-Za-z][_0-9A-Za-z]*",
                                                    "type": "string"
                                                },
                                                "openIDConnectConfig": {
                                                    "description": "The OpenID Connect configuration.",
                                                    "properties": {
                                                        "authTTL": {
                                                            "description": "The number of milliseconds a token is valid after being authenticated.",
                                                            "type": "integer"
                                                        },
                                                        "clientId": {
                                                            "description": "The client identifier of the Relying party at the OpenID identity provider. This identifier is typically obtained when the Relying party is registered with the OpenID identity provider. You can specify a regular expression so the AWS AppSync can validate against multiple client identifiers at a time.",
                                                            "type": "string"
                                                        },
                                                        "iatTTL": {
                                                            "description": "The number of milliseconds a token is valid after being issued to a user.",
                                                            "type": "integer"
                                                        },
                                                        "issuer": {
                                                            "description": "The issuer for the OpenID Connect configuration. The issuer returned by discovery must exactly match the value of <code>iss</code> in the ID token.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "issuer"
                                                    ],
                                                    "type": "object"
                                                },
                                                "uris": {
                                                    "description": "The URIs.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "userPoolConfig": {
                                                    "description": "The Amazon Cognito user pool configuration.",
                                                    "properties": {
                                                        "appIdClientRegex": {
                                                            "description": "A regular expression for validating the incoming Amazon Cognito user pool app client ID.",
                                                            "type": "string"
                                                        },
                                                        "awsRegion": {
                                                            "description": "The AWS Region in which the user pool was created.",
                                                            "type": "string"
                                                        },
                                                        "defaultAction": {
                                                            "description": "The action that you want your GraphQL API to take when a request that uses Amazon Cognito user pool authentication doesn't match the Amazon Cognito user pool configuration.",
                                                            "enum": [
                                                                "ALLOW",
                                                                "DENY"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "userPoolId": {
                                                            "description": "The user pool ID.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "userPoolId",
                                                        "awsRegion",
                                                        "defaultAction"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Updates a <code>GraphqlApi</code> object.",
                "operationId": "UpdateGraphqlApi",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "graphqlApi": {
                                            "description": "The updated <code>GraphqlApi</code> object.",
                                            "properties": {
                                                "apiId": {
                                                    "description": "The API ID.",
                                                    "type": "string"
                                                },
                                                "arn": {
                                                    "description": "The ARN.",
                                                    "type": "string"
                                                },
                                                "authenticationType": {
                                                    "description": "The authentication type.",
                                                    "enum": [
                                                        "API_KEY",
                                                        "AWS_IAM",
                                                        "AMAZON_COGNITO_USER_POOLS",
                                                        "OPENID_CONNECT"
                                                    ],
                                                    "type": "string"
                                                },
                                                "logConfig": {
                                                    "description": "The Amazon CloudWatch Logs configuration.",
                                                    "properties": {
                                                        "cloudWatchLogsRoleArn": {
                                                            "description": "The service role that AWS AppSync will assume to publish to Amazon CloudWatch logs in your account. ",
                                                            "type": "string"
                                                        },
                                                        "fieldLogLevel": {
                                                            "description": "<p>The field logging level. Values can be NONE, ERROR, or ALL. </p> <ul> <li> <p> <b>NONE</b>: No field-level logs are captured.</p> </li> <li> <p> <b>ERROR</b>: Logs the following information only for the fields that are in error:</p> <ul> <li> <p>The error section in the server response.</p> </li> <li> <p>Field-level errors.</p> </li> <li> <p>The generated request/response functions that got resolved for error fields.</p> </li> </ul> </li> <li> <p> <b>ALL</b>: The following information is logged for all fields in the query:</p> <ul> <li> <p>Field-level tracing information.</p> </li> <li> <p>The generated request/response functions that got resolved for each field.</p> </li> </ul> </li> </ul>",
                                                            "enum": [
                                                                "NONE",
                                                                "ERROR",
                                                                "ALL"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "fieldLogLevel",
                                                        "cloudWatchLogsRoleArn"
                                                    ],
                                                    "type": "object"
                                                },
                                                "name": {
                                                    "description": "The API name.",
                                                    "pattern": "[_A-Za-z][_0-9A-Za-z]*",
                                                    "type": "string"
                                                },
                                                "openIDConnectConfig": {
                                                    "description": "The OpenID Connect configuration.",
                                                    "properties": {
                                                        "authTTL": {
                                                            "description": "The number of milliseconds a token is valid after being authenticated.",
                                                            "type": "integer"
                                                        },
                                                        "clientId": {
                                                            "description": "The client identifier of the Relying party at the OpenID identity provider. This identifier is typically obtained when the Relying party is registered with the OpenID identity provider. You can specify a regular expression so the AWS AppSync can validate against multiple client identifiers at a time.",
                                                            "type": "string"
                                                        },
                                                        "iatTTL": {
                                                            "description": "The number of milliseconds a token is valid after being issued to a user.",
                                                            "type": "integer"
                                                        },
                                                        "issuer": {
                                                            "description": "The issuer for the OpenID Connect configuration. The issuer returned by discovery must exactly match the value of <code>iss</code> in the ID token.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "issuer"
                                                    ],
                                                    "type": "object"
                                                },
                                                "uris": {
                                                    "description": "The URIs.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "userPoolConfig": {
                                                    "description": "The Amazon Cognito user pool configuration.",
                                                    "properties": {
                                                        "appIdClientRegex": {
                                                            "description": "A regular expression for validating the incoming Amazon Cognito user pool app client ID.",
                                                            "type": "string"
                                                        },
                                                        "awsRegion": {
                                                            "description": "The AWS Region in which the user pool was created.",
                                                            "type": "string"
                                                        },
                                                        "defaultAction": {
                                                            "description": "The action that you want your GraphQL API to take when a request that uses Amazon Cognito user pool authentication doesn't match the Amazon Cognito user pool configuration.",
                                                            "enum": [
                                                                "ALLOW",
                                                                "DENY"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "userPoolId": {
                                                            "description": "The user pool ID.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "userPoolId",
                                                        "awsRegion",
                                                        "defaultAction"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "authenticationType": {
                                        "description": "The new authentication type for the <code>GraphqlApi</code> object.",
                                        "enum": [
                                            "API_KEY",
                                            "AWS_IAM",
                                            "AMAZON_COGNITO_USER_POOLS",
                                            "OPENID_CONNECT"
                                        ],
                                        "type": "string"
                                    },
                                    "logConfig": {
                                        "description": "The Amazon CloudWatch Logs configuration for the <code>GraphqlApi</code> object.",
                                        "properties": {
                                            "cloudWatchLogsRoleArn": {
                                                "description": "The service role that AWS AppSync will assume to publish to Amazon CloudWatch logs in your account. ",
                                                "type": "string"
                                            },
                                            "fieldLogLevel": {
                                                "description": "<p>The field logging level. Values can be NONE, ERROR, or ALL. </p> <ul> <li> <p> <b>NONE</b>: No field-level logs are captured.</p> </li> <li> <p> <b>ERROR</b>: Logs the following information only for the fields that are in error:</p> <ul> <li> <p>The error section in the server response.</p> </li> <li> <p>Field-level errors.</p> </li> <li> <p>The generated request/response functions that got resolved for error fields.</p> </li> </ul> </li> <li> <p> <b>ALL</b>: The following information is logged for all fields in the query:</p> <ul> <li> <p>Field-level tracing information.</p> </li> <li> <p>The generated request/response functions that got resolved for each field.</p> </li> </ul> </li> </ul>",
                                                "enum": [
                                                    "NONE",
                                                    "ERROR",
                                                    "ALL"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "fieldLogLevel",
                                            "cloudWatchLogsRoleArn"
                                        ],
                                        "type": "object"
                                    },
                                    "name": {
                                        "description": "The new name for the <code>GraphqlApi</code> object.",
                                        "type": "string"
                                    },
                                    "openIDConnectConfig": {
                                        "description": "The OpenID Connect configuration for the <code>GraphqlApi</code> object.",
                                        "properties": {
                                            "authTTL": {
                                                "description": "The number of milliseconds a token is valid after being authenticated.",
                                                "type": "integer"
                                            },
                                            "clientId": {
                                                "description": "The client identifier of the Relying party at the OpenID identity provider. This identifier is typically obtained when the Relying party is registered with the OpenID identity provider. You can specify a regular expression so the AWS AppSync can validate against multiple client identifiers at a time.",
                                                "type": "string"
                                            },
                                            "iatTTL": {
                                                "description": "The number of milliseconds a token is valid after being issued to a user.",
                                                "type": "integer"
                                            },
                                            "issuer": {
                                                "description": "The issuer for the OpenID Connect configuration. The issuer returned by discovery must exactly match the value of <code>iss</code> in the ID token.",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "issuer"
                                        ],
                                        "type": "object"
                                    },
                                    "userPoolConfig": {
                                        "description": "The new Amazon Cognito user pool configuration for the <code>GraphqlApi</code> object.",
                                        "properties": {
                                            "appIdClientRegex": {
                                                "description": "A regular expression for validating the incoming Amazon Cognito user pool app client ID.",
                                                "type": "string"
                                            },
                                            "awsRegion": {
                                                "description": "The AWS Region in which the user pool was created.",
                                                "type": "string"
                                            },
                                            "defaultAction": {
                                                "description": "The action that you want your GraphQL API to take when a request that uses Amazon Cognito user pool authentication doesn't match the Amazon Cognito user pool configuration.",
                                                "enum": [
                                                    "ALLOW",
                                                    "DENY"
                                                ],
                                                "type": "string"
                                            },
                                            "userPoolId": {
                                                "description": "The user pool ID.",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "userPoolId",
                                            "awsRegion",
                                            "defaultAction"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/apis/{apiId}/apikeys": {
            "get": {
                "description": "<p>Lists the API keys for a given API.</p> <note> <p>API keys are deleted automatically sometime after they expire. However, they may still be included in the response until they have actually been deleted. You can safely call <code>DeleteApiKey</code> to manually delete a key before it's automatically deleted.</p> </note>",
                "operationId": "ListApiKeys",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "apiKeys": {
                                            "description": "The <code>ApiKey</code> objects.",
                                            "items": {
                                                "description": "<p>Describes an API key.</p> <p>Customers invoke AWS AppSync GraphQL API operations with API keys as an identity mechanism. There are two key versions:</p> <p> <b>da1</b>: This version was introduced at launch in November 2017. These keys always expire after 7 days. Key expiration is managed by Amazon DynamoDB TTL. The keys ceased to be valid after February 21, 2018 and should not be used after that date.</p> <ul> <li> <p> <code>ListApiKeys</code> returns the expiration time in milliseconds.</p> </li> <li> <p> <code>CreateApiKey</code> returns the expiration time in milliseconds.</p> </li> <li> <p> <code>UpdateApiKey</code> is not available for this key version.</p> </li> <li> <p> <code>DeleteApiKey</code> deletes the item from the table.</p> </li> <li> <p>Expiration is stored in Amazon DynamoDB as milliseconds. This results in a bug where keys are not automatically deleted because DynamoDB expects the TTL to be stored in seconds. As a one-time action, we will delete these keys from the table after February 21, 2018.</p> </li> </ul> <p> <b>da2</b>: This version was introduced in February 2018 when AppSync added support to extend key expiration.</p> <ul> <li> <p> <code>ListApiKeys</code> returns the expiration time in seconds.</p> </li> <li> <p> <code>CreateApiKey</code> returns the expiration time in seconds and accepts a user-provided expiration time in seconds.</p> </li> <li> <p> <code>UpdateApiKey</code> returns the expiration time in seconds and accepts a user-provided expiration time in seconds. Key expiration can only be updated while the key has not expired.</p> </li> <li> <p> <code>DeleteApiKey</code> deletes the item from the table.</p> </li> <li> <p>Expiration is stored in Amazon DynamoDB as seconds.</p> </li> </ul>",
                                                "properties": {
                                                    "description": {
                                                        "description": "A description of the purpose of the API key.",
                                                        "type": "string"
                                                    },
                                                    "expires": {
                                                        "description": "The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.",
                                                        "type": "integer"
                                                    },
                                                    "id": {
                                                        "description": "The API key ID.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "An identifier to be passed in the next request to this operation to return the next set of items in the list.",
                                            "pattern": "[\\\\S]+",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a unique key that you can distribute to clients who are executing your API.",
                "operationId": "CreateApiKey",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "apiKey": {
                                            "description": "The API key.",
                                            "properties": {
                                                "description": {
                                                    "description": "A description of the purpose of the API key.",
                                                    "type": "string"
                                                },
                                                "expires": {
                                                    "description": "The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.",
                                                    "type": "integer"
                                                },
                                                "id": {
                                                    "description": "The API key ID.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ApiKeyLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "ApiKeyValidityOutOfBoundsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "description": {
                                        "description": "A description of the purpose of the API key.",
                                        "type": "string"
                                    },
                                    "expires": {
                                        "description": "The time from creation time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour. The default value for this parameter is 7 days from creation time. For more information, see .",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/v1/apis/{apiId}/apikeys/{id}": {
            "delete": {
                "description": "Deletes an API key.",
                "operationId": "DeleteApiKey",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Updates an API key.",
                "operationId": "UpdateApiKey",
                "parameters": [
                    {
                        "in": "path",
                        "name": "apiId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "apiKey": {
                                            "description": "The API key.",
                                            "properties": {
                                                "description": {
                                                    "description": "A description of the purpose of the API key.",
                                                    "type": "string"
                                                },
                                                "expires": {
                                                    "description": "The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.",
                                                    "type": "integer"
                                                },
                                                "id": {
                                                    "description": "The API key ID.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
[...]
